apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: sophistry-pg
  namespace: sophistry
spec:
  managed:
    roles:
    - name: sophistry
      ensure: present
      passwordSecret:
        name: sophistry-db-secret
      login: true
      superuser: false
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
  bootstrap:
    initdb:
      database: sophistry
      owner: sophistry
      secret:
        name: sophistry-db-secret

